:root{
    --backgroundColor: #0b164d;
    --accentColor: #4255FF;
    --greenColor: #ccf281;
    --defaultFont: 'Josefin Sans', sans-serif;
}

body{
    background-color: var(--backgroundColor);
    margin-top: 10px;
    margin-inline: 10px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card_conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 300px;
    cursor: pointer;
}



.card_self{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: var(--defaultFont);
    font-size: 36px;
    width: 50%;
    height: 300px;
    background-color: #030c38;
    border: solid 1px #030c38;
    box-shadow: 2px 0px 26px 4px rgba(0,0,0,0.33);
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    transition: transform 300ms;
    transform-style: preserve-3d;
}

.btn_holder{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;
    z-index: 2;
}

.left_button_div button,
.right_button_div button{
    width: 100%;
    height: 50px;
}

.left_button_div,
.right_button_div {
    width: 100%;

}
.left_button,
.right_button{
    outline: none;
    cursor: pointer;
    border: none;
    background: none;
    border-radius: 1rem;
    transition: all 0.3s;
}

.left_button:hover{
    scale: 1.5;
    /*box-shadow: 2px 0px 26px 4px rgba(255, 255, 255, 0.33);*/
    /*border: solid 4px green;*/
}

.right_button:hover{
    scale: 1.5;
    color: #ccf281;
    /*box-shadow: 2px 0px 26px 4px rgba(214, 45, 45, 0.44);*/
    /*border: solid 4px red;*/
}



.card_front,
.card_back{
    position: absolute;
    backface-visibility: hidden;
}

.card_back{
    transform: rotateX(180deg);
}

.counter_p{
    font-family: var(--defaultFont);
    color: white;
}



@media (max-width: 430px){
    .header{
        justify-content: center;
        align-items: center;
    }
    .card_self,
    .btn_holder{
        width: 100%;
    }
}